.teamManagement {
  .teamName {
    font-size: 24px;
    line-height: 30px;
    color: $accentTextColor;
  }
  .sectionTitle {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 2em;
  }
  .hasTeam {
    .flexRow{
      flex-wrap: wrap;
      margin-top: 2em;
    }

    .teamSection {
      display: flex;
      flex-direction: column;
      align-items: center;


      & > div {
        padding: 0 50px;
      }

      &.members {
        flex: 3 0 0;
        border-right: 1px solid #ebebeb;

        th {
          font-weight: normal;
          text-transform: uppercase;
          color: $lightTextColor;
        }
        th, td {
          padding-right: 55px;
        }
        th:last-child, td:last-child {
          padding-right: 0;
        }
      }
      &.code {
        flex: 2 0 0;
        border-right: 1px solid #ebebeb;

        .teamCodeFrame {
            text-align: center;
            margin: 4em 0;
            padding: 2em 30px;
            border: 1px solid #2ab7ca;
            border-radius: 11px;

          .teamCode {
            font-size: 30px;
            color: $accentTextColor;
          }
          button {
            position: absolute;
            background: $themeColorLight;
            color: $lighterTextColor;
            border: none;
            border-radius: 1.75em;
            box-shadow: none;
            transform: translate(-50%, 50%);
          }
        }
      }
      &.leave {
        flex: 1 0 0;

        button.leaveTeam {
          display: block;
          width: 80px;
          height: 60px;
          margin: 72px auto 0;
          font-size: 24px;
          text-align: center;
          background: #e15554;
          border: none;
          border-radius: $radius;
          box-shadow: none;
          vertical-align: middle;

          .bp3-icon {
            color: $lighterTextColor;
            vertical-align: middle;
          }
        }
      }
    }

    .teamStatus {
      margin-top: 2em;
    }
  }
  .notInTeam {
    margin-top: 5em;
    flex-wrap: wrap;

    .teamSection {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      &.creation {
        border-right: 1px solid #ebebeb;
      }
      .sectionTitle {
        margin-bottom: 2em;
      }
      input {
        border: none;
        border-bottom: 1px solid #ebebeb;
        padding: 8px 0;
        margin-right: 30px;
      }
      button {
        text-transform: uppercase;
        padding: 9px 22px;
        border: none;
        border-radius: 1.75em;
        box-shadow: none;
      }
      &.creation button {
        background: $themeColorLight;
        color: $lighterTextColor;
      }
      &.join button {
        background: $accentColor;
        color: $themeColorDark;
      }
    }
  }
  .teamStatus .bp3-control.bp3-large {
    font-size: inherit;
    font-weight: normal;
    text-transform: uppercase;
    color: $lightTextColor;
  }
}