doctype html
head
  meta(charset='utf-8')
  title Tezos Hackathon
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
body
  div(id='root')
  script(type='text/javascript', src=csrfTokenUrl)
  script(type='text/javascript', src=distUrl('vendor.js'))
  script(type='text/javascript', src=distUrl('main.js'))
