
/*********************************
  PLATFORM HEADER
*********************************/
.platformHeader {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .contestHead {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    /*********************************
      PLATFORM LOGO
    *********************************/
    .platformLogo {
      flex: 0 0 62px;
      position: relative;
      font-size:37px;
      line-height: 1;
      letter-spacing: -10px;
      padding: 16px 10px;
      background-color: $secondaryBgColor;
      color: $themeColorDark;

      span:nth-child(1) {
        position: relative;
      }
      span:nth-child(2) {
        color: $themeColorLight;
        z-index: 0;
      }
    }
    .platformLogo::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 62px 0 0;
      border-color: transparent $mainBgColor transparent transparent;
      transform: scale(1.0001);
    }

    /*********************************
      CONTEST TITLE
    *********************************/
    .contestTitle {
      font-size:20px;
      font-weight: 600;
      color:$themeColorDark;
      margin-left: 20px;
    }
  }
  .chainHead {
    flex: 1 1 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contestPeriod {
      flex: 0 0 51px;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      text-transform: uppercase;
      color: #2ab7ca;
      padding: 6px 0 5px;
      background-color: #ffffff;
      border-radius: 7px;

      .dayNumber {
        display: block;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}


/*********************************
  CONTEST STATUS
*********************************/
.roundCount,
.roundDuration {
  color: $themeColorLight;
  font-size: 16px;
}
.roundProgressWrapper {
  background-color: #e4e4e4;
  width: 170px;
  height: 10px;
  border-radius:100px;
  margin-top: 10px;
}
.roundProgressBar {
  background-color: $themeColorLight;
  height: 100%;
  border-radius:100px;
  max-width: 100% !important;
}
.roundDuration {
  align-self: flex-end;
}

/*********************************
  MAIN MENU
*********************************/
.mainMenu {
  font-size: 14px;
  margin: 2.5em 0 1.5em;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      text-transform: uppercase;
      margin-right: 50px;
      color: $lightTextColor;

      a {
      padding-bottom: 13px;
      display: block;
      position: relative;
      color: $mainTextColor;
      text-decoration: none;
      }

      &.active {
        a {
          padding-bottom: 13px;
          display: block;
          position: relative;
          color: $accentTextColor;

          &::after {
            content: " ";
            height: 5px;
            background-color: $themeColorLight;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            border-radius: 10px / 7px;
          }
        }
      }
    }
  }
}