@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/datetime/lib/css/blueprint-datetime.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

html, body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #eff5f8; 
  font-family: "DejaVu Sans", "sans";
  font-size: 12px;
  line-height: 1.2rem;
}

.flexRow {
  display: flex;
  flex-flow: row;
}
.flexColumn {
  display: flex;
  flex-flow: column;
}

.App__container {
  margin: 0 auto;
  padding: 0 33px 23px;
  max-width: 1300px;
}

/*********************************
  LANDING
*********************************/
.landingTitle {
  font-size:23px;
  color:#006989;
  text-transform: uppercase;
  background-color: #fff;
  width: 160px;
  padding: 60px 23px 55px 13px;
  position: relative;
}
.landingTitle::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 160px 0 0;
  border-color: transparent #eff5f8 transparent transparent;
  transform: scale(1.0001);
  position: absolute;
  left: 0;
  bottom: 0;
}